---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$heading-font-family: "Montserrat", Helvetica, Arial, sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.8;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #9c9e9f;
$background-color: #fdfdfd;
$brand-color:      #198ef1;

$grey-color:       #9c9e9f;
$grey-color-light: lighten($grey-color, 35%);
$grey-color-dark:  darken($grey-color, 45%);



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "vendor/normalize",
        "vendor/flexslider",
        "base/base",
        "components/flexslider",
        "components/button",
        "components/form",
        "layouts/navbar",
        "layouts/services",
        "layouts/projects",
        "layouts/footer",
        "pages/index",
        "pages/contact"
;
