{% if page.url == "/" %}

<div class="flexslider">
  <ul class="slides">
    <li class="slide1">
      <div class="slide-text">
    <h2>South Coast Mobile Welding</h2>
    <p>First-class welding on the NSW South Coast</p>
    <button type="button"><a href="{{ " /contact " | prepend: site.baseurl }}">Contact</a></button>
  </div>
    </li>
    <li class="slide2">
      <div class="slide-text">
    <h2>South Coast Mobile Welding</h2>
    <p>First-class welding on the NSW South Coast</p>
    <button type="button"><a href="{{ " /contact " | prepend: site.baseurl }}">Contact</a></button>
  </div>
    </li>
    <li class="slide3">
      <div class="slide-text">
    <h2>South Coast Mobile Welding</h2>
    <p>First-class welding on the NSW South Coast</p>
    <button type="button"><a href="{{ " /contact " | prepend: site.baseurl }}">Contact</a></button>
  </div>
    </li>
  </ul>
</div>

{% endif %}

{% if page.url == "/services.html" %}

<div class="flexslider">
  <ul class="slides">
    <li class="slide4">
      <div class="slide-text">
        <h2>Services</h2>
      </div>
    </li>
  </ul>
</div>

{% endif %}

{% if page.url == "/projects.html" %}

<div class="flexslider">
  <ul class="slides">
    <li class="slide5">
      <div class="slide-text">
        <h2>Projects</h2>
      </div>
    </li>
  </ul>
</div>

{% endif %}

{% if page.url == "/contact.html" %}

<div class="flexslider">
  <ul class="slides">
    <li class="slide6">
      <div class="slide-text">
        <h2>Contact</h2>
      </div>
    </li>
  </ul>
</div>

{% endif %}
