<div class="footer">

  <div class="footer__container">

    <div class="footer__logo">

    <a href="{{ "/index" | prepend: site.baseurl }}"><img src="/img/logo.png" alt="South Coast Mobile Welding" class="logo"></a>

  </div>

  <div class="footer__menu">
    <ul>
        <li><a href="{{ "/" }}">Home</a></li>
        <li><a href="{{ "/services" | prepend: site.baseurl }}">Services</a></li>
        <li><a href="{{ "/projects" | prepend: site.baseurl }}">Projects</a></li>
        <li><a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>
    </ul>
  </div>

  <div class="facebook">
    <a href="https://www.facebook.com/South-Coast-Mobile-Welding-1637032993227862/"><img src="img/find-us-on-facebook-white.png" alt="Find us on Facebook"></a>
  </div>

  </div>

</div>

<div class="copyright">
  <p>&copy; 2017 South Coast Mobile Welding - Website by <a href="http://patrickroberts.io">Patrick Roberts</a></p>
</div>
