<div class="services">
  <div class="services__container">

  {% if page.url != "/services.html" %}

  <h2>Services</h2>

  {% else %}

  <h3 id="services__text">With a welth of experience and an attention to detail, we are up to the challenge for just about any welding service you may require. To dicuss your needs please <a href="{{ " /contact " | prepend: site.baseurl }}">contact us</a> today.</h3>

  {% endif %}

    <ul>
    <li class="service">
      <img src="{{ "/img/icon.jpg" | prepend: site.baseurl }}" alt="Plant Equipment">
      <h3>Plant Equipment</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices vestibulum facilisis. Cras a purus faucibus, porttitor ex in, feugiat lacus. Integer ac nibh placerat, sollicitudin dolor a, tempus justo.</p>
    </li>
    <li class="service">
      <img src="{{ "/img/icon.jpg" | prepend: site.baseurl }}" alt="Domestic">
      <h3>Domestic</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices vestibulum facilisis. Cras a purus faucibus, porttitor ex in, feugiat lacus. Integer ac nibh placerat, sollicitudin dolor a, tempus justo.</p>
    </li>
    <li class="service">
      <img src="{{ "/img/icon.jpg" | prepend: site.baseurl }}" alt="Rural">
      <h3>Rural</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices vestibulum facilisis. Cras a purus faucibus, porttitor ex in, feugiat lacus. Integer ac nibh placerat, sollicitudin dolor a, tempus justo.</p>
    </li>
    <li class="service">
      <img src="{{ "/img/icon.jpg" | prepend: site.baseurl }}" alt="Stainless / Aluminium">
      <h3>Stainless</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices vestibulum facilisis. Cras a purus faucibus, porttitor ex in, feugiat lacus. Integer ac nibh placerat, sollicitudin dolor a, tempus justo.</p>
    </li>

    {% if page.url == "/services.html" %}

    <li class="service">
      <img src="{{ "/img/icon.jpg" | prepend: site.baseurl }}" alt="Balustrades">
      <h3>Balustrades</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices vestibulum facilisis. Cras a purus faucibus, porttitor ex in, feugiat lacus. Integer ac nibh placerat, sollicitudin dolor a, tempus justo.</p>
    </li>
    <li class="service">
      <img src="{{ "/img/icon.jpg" | prepend: site.baseurl }}" alt="Custom Gates">
      <h3>Custom Gates</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices vestibulum facilisis. Cras a purus faucibus, porttitor ex in, feugiat lacus. Integer ac nibh placerat, sollicitudin dolor a, tempus justo.</p>
    </li>
    <li class="service">
      <img src="{{ "/img/icon.jpg" | prepend: site.baseurl }}" alt="On Site Fabrication">
      <h3>On Site Fabrication</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices vestibulum facilisis. Cras a purus faucibus, porttitor ex in, feugiat lacus. Integer ac nibh placerat, sollicitudin dolor a, tempus justo.</p>
    </li>
    <li class="service">
      <img src="{{ "/img/icon.jpg" | prepend: site.baseurl }}" alt="General Welding">
      <h3>General Welding</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices vestibulum facilisis. Cras a purus faucibus, porttitor ex in, feugiat lacus. Integer ac nibh placerat, sollicitudin dolor a, tempus justo.</p>
    </li>

    {% else %}

  </ul>
  <div class="button__container">
  <a class="button" href="{{ "/services" | prepend: site.baseurl }}">More Services</a>
</div>

{% endif %}

</div>
</div>
