.overview {
    background: linear-gradient(90deg, $brand-color, darken($brand-color, 25%));
}

.container {
    padding: 5em 1em;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    @media only screen and (max-width: 960px) {
        padding: 2em 0;
    }
}

.overview__text {
    display: inline-block;
    float: left;
    width: 55%;
    color: #FFF;
    padding: 0 20px;

    h2 {
        margin: 0 0 15px;
    }
    @media only screen and (max-width: 960px) {
        width: 100%;
        text-align: center;
        float: none;
        padding: 0 40px;

        h2 {
            font-size: 4em;
            letter-spacing: -2px;
        }

        p {
            font-size: 1em;
        }
    }
    @media only screen and (max-width: 580px) {
        h2 {
            font-size: 3em;
        }

        p {
            font-size: 0.9em;
        }
    }
    @media only screen and (max-width: 480px) {
        h2 {
            font-size: 2em;
        }

        p {
            font-size: 0.8em;
        }
    }
}

.overview__image {
    display: inline-block;
    float: left;
    width: 45%;
    padding: 100px 20px 0;
    @media only screen and (max-width: 960px) {
        display: block;
        width: 80%;
        float: none;
        margin: 0 auto;
        padding: 2em 0 0;
    }
}
