.overview {
    background: linear-gradient(90deg, $brand-color, darken($brand-color, 25%));
}

.container {
    max-width: 1400px;
    overflow: hidden;
    margin: 0 auto;
    padding: 5em 2em;
    position: relative;
    @media only screen and (max-width: 960px) {
        padding: 2em 0;
    }
}


.about-text {
    width: 50%;
    float: left;
    padding: 0 20px;
    h2 {
        margin: 0 0 20px;
    }

    p {
        line-height: 1.6em;
        color: #FFF;
    }
}

#about-img {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    padding: 2em;
}
@media only screen and (max-width: 1000px) {
    .about-text {
        width: 100%;
        margin: 0 0 20px;
        h2 {
          text-align: center;
        }
    }

    #about-img {
        width: 100%;
        position: static;
        transform: none;
    }
}
