.project-container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 5em 0;
  .project {
    background: none;
    padding: 1em;
    margin: 0 0 2em 0;

    h3 {
      display: inline-block;
      margin: 1em 0;

      &:hover {
        color: $brand-color;
      }
    }

    &:hover img {
      opacity: 1;
    }

    }
}
