.navbar {

    max-width: 1400px;
    margin: 0 auto;
    padding: 15px;

    //Make navbar responsive
    @media only screen and (max-width: 720px) {

        .logo {
            display: block;
            margin: auto;
        }

        .nav-menu {
            float: none;
            padding: 0;

            li {
                display: block;
                text-align: center;
                padding: 20px 0 0;
            }

            li a {
                margin: 0;
                font-size: .6em;
            }
        }
    }
}


.logo {
    max-width: 120px;
}


.nav-menu {
    float: right;
    padding: 35px 0 0;
    margin: 0;

    li {
        display: inline;
    }

    li a {
        font-size: 0.7em;
        text-decoration: none;
        margin: 0 0 0 30px;
        color: #000;

        &:hover {
            text-decoration: none;
            color: $brand-color;
            border-bottom: 2px solid $brand-color;
        }
    }
}
