.banner {
    img {
        width: 100%;
        min-width: 1050px;
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
    }

    .text-box {
        position: absolute;
        top: 30%;
        left: 10%;

        h2 {
            font-size: 6em;
            margin: 0 0 20px;
        }

        p {
            color: #FFF;
            font-size: 1.2em;
        }
        @media only screen and (max-width: 1060px) {
            h2 {
                font-size: 4em;
                margin: 0 0 20px;
            }

            p {
                color: #FFF;
                font-size: 1em;
            }
        }
        @media only screen and (max-width: 500px) {
            h2 {
                font-size: 3em;
                margin: 0 0 20px;
            }

            p {
                color: #FFF;
                font-size: 0.9em;
            }
        }
    }
}
