//Reset basic styles

.flexslider {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0px;
  overflow: hidden;
}


//Slide Images


li.slide1 {
  background-image: url("/img/home-slide1.jpg");
}

li.slide2 {
  background-image: url("/img/home-slide2.jpg");
}

li.slide3 {
  background-image: url("/img/home-slide3.jpg");
}

.flexslider .slides > li {
  background-position: center;
  height: 100%;
  width: 100%;
  display: none;
  background-size: cover;
}

.flexslider-container,
.flexslider .slides,
.flex-viewport {
    height: 100%;
}

ul.slides {
  margin: 0;
  padding: 0;
}

//Site Heading and subheading

.slide-text {
  background: rgba(0, 0, 0, 0.5);
  width: 60%;
  border-radius: 10px;
  text-align: center;
  padding: 1em 2em 2em 2em;
  margin: 5em auto;

    h2 {
        margin: 0 0 15px;
    }

    p {
        margin: 0 0 35px;
        font-size: 1.1em;
        color: #FFF;
    }

    //Make responsive

    @media only screen and (max-width: 1260px) {
        h2 {
            font-size: 3em;
            letter-spacing: -2px;
        }

        p {
            font-size: 1em;
        }
    }

    @media only screen and (max-width: 768px) {
      margin: 3em auto;
      width: 100%;
        h2 {
            font-size: 2em;
        }

        p {
            font-size: 0.9em;
        }
    }
    @media only screen and (max-width: 450px) {
        h2 {
            font-size: 1.5em;
        }

        p {
            font-size: 0.8em;
        }
    }
}


//Remove Next and Previous Arrows

.flex-direction-nav a.flex-next,
.flex-direction-nav a.flex-prev {
    display: none;
}


// Move "dot" slider control on top of images

.flex-control-nav {
    bottom: 20px;
    z-index: 1000;
}

ol.flex-control-nav.flex-control-paging li a {
background: #FFF;

&:hover {
  background: $grey-color;
}
}
